a{
	text-decoration: none;
}
a:link, a:hover, a:active, a:visited {
	text-decoration: none;
	color: black;
}

ul{
	list-style-type: none;
	width: 200px;
	margin: 75px auto;
}

li{
	margin: 5px 0;
	height: 50px;
	border-radius: 5px;
	text-align: center;
	text-shadow: 1px 1px 1px gray;
	line-height: 50px;
	box-shadow: 3px 3px 2px #222222;

	font-size: 20px;
	font-family: "Arial";

	-webkit-transition: background-color 1s;
	transition: background-color 1s;
}

li:hover {
	background-color: white !important;
}

