.reveal{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif; 
}
.reveal .keyboard{
	width: auto;
	min-width: 35px;
	height: 35px;
	display: inline-block;
	text-align: center;
	background-color: #FFFFAA;
	color: black;
	border-radius: 5px;
	font-family: monospace;
	font-size: 30px;
	line-height: 38px;
	position: relative;
	top: -3px;
	margin-right: 3px;
}

.reveal .combined{
	width: auto;
	height: 35px;
	display: inline-block;
	text-align: center;
	background-color: #FF6666;
	color: black;
	border-radius: 5px;
	font-family: monospace;
	font-size: 30px;
	line-height: 38px;
	position: relative;
	top: -3px;
	margin-right: 3px;
	padding: 0 4px;
}
/*
.reveal .keyboard{
	width: 50px;
	height: 50px;

	border: solid black 3px;
	border-radius: 16px;

	background-image: linear-gradient(gray, white);
	display:inline-block;
}

.reveal .keyboard > div{
	display:block;
	margin: 5px;
	width: 40px;
	height: 40px;
	background-image: linear-gradient(white, gray);
	border-radius: 11px;
	color: black;
	line-height: 28px;
	text-align: center;
}
*/

.reveal strong{
	color: red;
}

.reveal .tip{
	background-color: #FFFF32;
	max-width: 700px;
	margin: 0 auto;
	color: black;
	border-radius: 10px;
	padding: 0 10px;
/*	text-align: left;*/
}

.reveal .example{
	background-color: #66FF66;
	max-width: 700px;
	margin: 0 auto;
	color: black;
	border-radius: 10px;
	padding: 0 10px;
/*	text-align: left;*/
}

.reveal li{
	margin: 10px 0;
}

.reveal table{
	margin: auto;
}

.reveal td{
	padding:0 10px;
}

.reveal .mono{
	font-family: monospace;
}
.reveal .borderTable{
	border-collapse: collapse;
	border: 3px solid black
}

.reveal .borderTable td{
	border: 3px solid black;
}
