.reveal .keyboard{
	width: 35px;
	height: 35px;
	display: inline-block;
	text-align: center;
	background-color: #FFFFAA;
	color: black;
	border-radius: 5px;
	font-family: monospace;
	font-size: 30px;
	line-height: 38px;
}
/*
.reveal .keyboard{
	width: 50px;
	height: 50px;

	border: solid black 3px;
	border-radius: 16px;

	background-image: linear-gradient(gray, white);
	display:inline-block;
}

.reveal .keyboard > div{
	display:block;
	margin: 5px;
	width: 40px;
	height: 40px;
	background-image: linear-gradient(white, gray);
	border-radius: 11px;
	color: black;
	line-height: 28px;
	text-align: center;
}
*/

.reveal strong{
	color: red;
}

.reveal .tip{
	background-color: #668800;
	max-width: 700px;
	margin: 0 auto;
}
